.carousel-item {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;

}

.box {
    width: 1300px;
    height: 200px;
    border: 1px solid rgb(223, 223, 223);
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 155, 214);
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 5px;
}

.another {
    margin-right: 250px;
}

footer {
    height: 350px;
    width: 1400px;
    background-color: rgb(17, 17, 17);
}


.main-con {
    width: 1200px;
    height: 350px;
}